<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="webim-container">
      <div class="webim-wrap">
        <div class="webim-friends">
          <div class="webim-info bbox">
            <span class="fl" style="background-image: url('images/avatar1.png');"></span>
            <div class="fl">
              <b len="12">长风</b>
              <span len="28">这个人很懒，什么都没写。</span>
            </div>
          </div>
          <div class="im-f-list">
            <div class="im-f-item bbox">
              <span class="fl" style="background-image: url('images/avatar2.png');"></span>
              <div class="im-f-info">
                <span class="f-time fr mr10">16:11</span>
                <span class="f-name">皮皮虾</span>
                <span class="f-msg">皮皮虾我们走！</span>
              </div>
            </div>
          </div>
        </div>
        <div class="webim-conversation"></div>
      </div>
    </div>
  </body>
  <script src="javascripts/jquery-2.2.4.min.js"></script>
  <script src="javascripts/jquery.nicescroll.min.js"></script>
  <script src="javascripts/index.js"></script>
</html>
