<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="webim-container">
      <div class="webim-wrap">
        <div class="webim-friends">
          <div class="webim-info bbox">
            <span class="fl" style="background-image: url('images/avatar1.png');"></span>
            <div class="fl">
              <b len="12">长风</b>
              <span len="28">这个人很懒，什么都没写。</span>
            </div>
          </div>
          <div class="im-f-list">
            <div class="im-f-item bbox">
              <span class="fl" style="background-image: url('images/avatar2.png');"></span>
              <div class="im-f-info">
                <span class="f-time fr">16:11</span>
                <span class="f-name">皮皮虾</span>
                <span class="f-msg">皮皮虾我们走！</span>
              </div>
            </div>
            <div class="im-f-item bbox">
              <span class="fl" style="background-image: url('images/avatar3.png');"></span>
              <div class="im-f-info">
                <span class="f-time fr">16:15</span>
                <span class="f-name">皮皮虾</span>
                <span class="f-msg">皮皮虾我们走！</span>
              </div>
            </div>
          </div>
        </div>
        <div class="webim-conversation">
          <div class="im-cvs-name">皮皮虾</div>
          <div class="im-cvs-cont bbox">
            <div class="im-cvs-accept fl mt20">
              <span class="fl" style="background-image: url('images/avatar2.png');"></span>
              <p class="im-accept-con">皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！</p>
            </div>
            <div class="im-cvs-accept fl mt20">
              <span class="fl" style="background-image: url('images/avatar2.png');"></span>
              <p class="im-accept-con">皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！</p>
            </div>
            <div class="im-cvs-dispatch fr mt20">
              <span class="fr" style="background-image: url('images/avatar1.png');"></span>
              <p class="im-dispatch-con">皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！</p>
            </div>
            <div class="im-cvs-dispatch fr mt20">
              <span class="fr" style="background-image: url('images/avatar1.png');"></span>
              <p class="im-dispatch-con">皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！皮皮虾我们走！</p>
            </div>
          </div>
          <div class="im-cvs-send">
            <textarea class="bbox pl20 pr20 pt10 pb10"></textarea>
            <button class="fr mt10 mr20">发送(Enter)</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="javascripts/jquery-2.2.4.min.js"></script>
  <script src="javascripts/jquery.nicescroll.min.js"></script>
  <script src="javascripts/index.js"></script>
</html>
